<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>포트폴리오 업로드</title>
	<link rel="stylesheet" th:href="@{/css/portfolio.css}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!-- Noto Sans KR (한글용) -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<!-- Righteous (영문용) -->
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

</head>

<body>
	<div class="container" style="width: 40%;">
		<!-- 상단 고정 바 -->
		<div th:replace="common/header :: header"></div>

		<h2>포트폴리오 업로드</h2>

		<div class="upload-tab">
			<form th:action="@{/portfolios/upload}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="userId" th:value="${portfolioDTO.userId}" />

				<label style="margin-top: 10px;">제목</label>
				<input type="text" name="title" th:value="${portfolioDTO.title}" required
					style="margin-bottom: 10px;" />

				<label>설명</label>
				<textarea class="input-desc" name="description" th:text="${portfolioDTO.description}"
					style="margin-bottom: 10px;"></textarea>

				<div class="div-date">
					<div>
						<label>시작일</label>
						<input type="date" class="input-date" name="startDate" th:value="${portfolioDTO.startDate}"
							required style="margin-bottom: 10px;" />
					</div>
					<div>
						<label>종료일</label>
						<input type="date" class="input-date" name="endDate" th:value="${portfolioDTO.endDate}" required
							style="margin-bottom: 10px;" />
					</div>
				</div>

				<label>파일 업로드</label>
				<input type="file" class="file-button" name="file" required style="margin-bottom: 10px;" />
				<p></p>

				<div style="display: flex;">
					<button type="submit" class="btn primary">업로드</button>
					<div class="actions">
						<a th:href="@{/portfolios(userId=${portfolioDTO.userId})}" class="btn">목록으로 돌아가기</a>
					</div>
				</div>

			</form>

		</div>

		<div class="alert error" th:if="${errorMessage}" th:text="${errorMessage}"></div>
	</div>
</body>

</html>